body {
    margin: auto;
    font-family: Hind Vadodara Semibold;

}
nav {
    background-color: #298224;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: #3BD16F;
    border-width: 30px;
    
}
#nav-logo {
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
#polstarovna-logo {
    height: 80px;
    width: auto;
}

#nav-list {
    display: flex;
    gap: 40px;
    margin-right: 200px;

}
.nav-choices:hover {
    text-decoration: underline;
    text-decoration-color: white;

}

a {
    text-decoration: 0;
    color: azure;
    font-size: 23px;
    
}
/* konec navbaru */

#main-subblock {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 150px;
    margin-bottom: 0px;
    gap: 200px;

}

h1 {
    font-size: 70px;
    font-family: Hind Vadodara Semibold;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;

}

#main-content {
    margin-top: 0;
    font-family: Hind Vadodara Light;
    font-size: 24px;
    color: #808080;

}

#main-btn {
    border: 2px solid #3BD16F;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Hind Vadodara Semibold;
    margin-top: 20px;
}

#main-btn:hover {
    color: white;
    background-color: #3BD16F; 
    border-color: black;

}

/* konec main blocku */

#quality-block {
    background-color: #298224;
    margin-top: 150px;
    
    
}
#quality-header {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}

#quality-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 150px;
    gap: 200px;
    justify-content: center;
}

.icon {
    height: 200px;
    width: auto;
}

h2 {
    color: white;
    font-family: Hind Vadodara Semibold;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
} 

#helper {
    margin-left: 50px;
}

.quality-text {
    color: #f2f2f0;
    font-family: Hind Vadodara Light;
    width: 250px;
    font-size: 20px;
    margin-top: 0px;
}

/* konec quality blocku */

#sign-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

#sign-title {
    margin-top: 20px;
    margin-bottom: 0px;
}

#text {
    color:white;
    font-family: Hind Vadodara Light;
    margin-top: 0px;
}

#sign-container {
    display: flex;
    height: 150px;
    width: 1300px;
    background-color: #298224;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

}
#sign-btn {
    border: 2px solid white;
    color: white;
    background-color: #298224;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Hind Vadodara Semibold;

}

/* konec sign blocku */



footer {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f-text {
    color: #298224;
    font-family: Hind Vadodara Light;
}

#sign-btn:hover {
    background-color: #3BD16F; 

}
